body {
    font-family: Georgia, serif;
    background-color: #FFDBF1;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    margin: auto;
}

.title {
    font-size: 30px;
    font-family: Georgia, serif;
    color: #D00881;
}

#entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#entrada input,
#entrada textarea,
#entrada select{
    margin: 8px 0;
    width: 100%;
}

#entrada button{
    margin: 8px 0;
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    width: 85%;
    height: 100%;
    background-color: #FFD5EE;
    border: 20px solid #D00881;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.item:hover,
.item:focus {
  background-color: #FF8CD2;
  color: white;
}

img {
    max-width: 100%;
}

.botaocadastro{
    background-color: #D00881;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
}

.botaocarrega{
    background-color: #D00881;
    color: white;
    width: 175px;
    height: 40px;
    border-radius: 10px;
}

.botaoremove{
    background-color: #D00881;
    width: 155px;
    height: 40px;
    color: white;
    border-radius: 10px;
}